{#
* Copyright © Lyra Network.
* This file is part of Lyra Collect plugin for Sylius. See COPYING.md for license details.
*
* @author    Lyra Network (https://www.lyra.com/)
* @copyright Lyra Network
* @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
#}

{% set lyraFormConfig = lyra_get_config_info() %}

<div class="card mb-3">
    <h2 class="card-header">
        Lyra Collect
    </h2>
    <div class="row">
        <div class="m-2 col-3">
            {{ 'sylius_lyra_plugin.ui.lyra_developed_by'|trans }}
            <b><a href="https://www.lyra.com/" target="_blank" class="text-primary">Lyra Network</a></b>
        </div>
        <div class="m-2 col-8">
            {{ 'sylius_lyra_plugin.ui.lyra_support_email'|trans }}
            <b>{{ lyraFormConfig.lyraSupport | raw }}</b>
        </div>

        <div class="m-2 col-3">
            {{ 'sylius_lyra_plugin.ui.lyra_module_version'|trans }} <b>{{ lyraFormConfig.lyraPluginVersion }}</b>
        </div>
        <div class="m-2 col-4">
            {{ 'sylius_lyra_plugin.ui.lyra_gateway_version'|trans }} <b>{{ lyraFormConfig.lyraGatewayVersion }}</b>
        </div>
        <div class="m-2 col-12">
            {{ 'sylius_lyra_plugin.ui.lyra_documentation_link'|trans }}
            {% for lang, url in lyraFormConfig.lyraDocUrls %}
                <a style="margin-left: 10px; font-weight: bold; text-transform: uppercase;" href="{{ url }}" target="_blank" class="text-primary">{{ lang }}</a>
            {% endfor %}
        </div>
    </div>
</div>