{#
* Copyright © Lyra Network.
* This file is part of Monetico Retail plugin for Sylius. See COPYING.md for license details.
*
* @author    Lyra Network (https://www.lyra.com/)
* @copyright Lyra Network
* @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
#}

<div id="moneticoPaymentDetails">
    <p>
        {% if payment.details['monetico_trans_id'] is not empty %}
            {{ 'sylius_monetico_plugin.ui.transaction_id'|trans }}{{payment.details['monetico_trans_id']}}<br>
        {%endif%}
        {% if payment.details['monetico_trans_id'] is not empty %}
            {{ 'sylius_monetico_plugin.ui.transaction_uuid'|trans }}{{payment.details['monetico_trans_uuid']}}<br>
        {%endif%}
        {% if payment.details['monetico_card_brand'] is not empty %}
            {{ 'sylius_monetico_plugin.ui.card_brand'|trans }}{{payment.details['monetico_card_brand']}}
        {%endif%}
    </p>
</div>