{#
* Copyright © Lyra Network.
* This file is part of Monetico Retail plugin for Sylius. See COPYING.md for license details.
*
* @author    Lyra Network (https://www.lyra.com/)
* @copyright Lyra Network
* @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
#}

<style>
    .moneticoPaymentChoiceTitle {
        display: none !important;
    }
</style>

{% set moneticoGateway = constant('Lyranetwork\\Monetico\\Payum\\SyliusPaymentGatewayFactory::FACTORY_NAME') %}

{% if method.gatewayConfig.factoryName is same as (moneticoGateway) %}
    <div class="item payment-item moneticoPaymentChoice" {{ sylius_test_html_attribute('payment-item') }}>
        <div class="field moneticoPaymentChoiceTitle">
            <div class="ui radio checkbox moneticoPaymentCheckBox" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
                {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
            </div>
        </div>
        <div class="content">
            <a class="header moneticoPaymentChoiceTitle">{{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}</a>
            {% include '@LyranetworkMoneticoPlugin/_moneticoSmartform.html.twig' %}
            {% if method.description is not null %}
                <div class="description">
                    <p>{{ method.description }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="item payment-item" {{ sylius_test_html_attribute('payment-item') }}>
        <div class="field">
            <div class="ui radio checkbox" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
                {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
            </div>
        </div>
        <div class="content">
            <a class="header">{{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}</a>
            {% if method.description is not null %}
                <div class="description">
                    <p>{{ method.description }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}